<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="../CSS/Productos.css">
    </head>
    <body>
        <div id="navbar"></div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Productos</h1>
                </div>
            </div>

            <div class="form-group input-group">
                <input type="text" class="form-control" id="buscar" placeholder="Buscar">
                <button class="btn btn-buscar">
                    Buscar 
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <hr class="divider">
            <table class="table" id="productosTable">
                <thead>
                    <tr>
                        <th scope="col">Clave</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Piezas</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>

            <div class="text-right">            
                <button class="btn btn-agregar" data-toggle="modal" data-target="#addModal">
                    <i class="fas fa-plus"></i> Agregar Producto
                </button>
                <button class="btn btn-editar" onclick="openEditModal()" id="editBtn" disabled>
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button class="btn btn-info" onclick="viewPiezas()" disabled id="viewPiezasBtn">Ver Piezas</button>
                <button class="btn btn-danger btn-eliminar" onclick="deleteRow()" id="deleteBtn" disabled>
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>
        </div>

        <!-- Modal de Agregar Producto -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Agregar Nuevo Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div class="form-group">
                                <label for="addClave">Clave</label>
                                <input type="text" class="form-control" id="addClave" required>
                            </div>
                            <div class="form-group">
                                <label for="addDescripcion">Descripción</label>
                                <input type="text" class="form-control" id="addDescripcion" required>
                            </div>
                            <div class="form-group">
                                <label for="addPrecio">Precio</label>
                                <input type="text" class="form-control" id="addPrecio" required>
                            </div>
                            <div class="form-group">
                                <label for="addCantidad">Cantidad</label>
                                <input type="number" class="form-control" id="addCantidad" required>
                            </div>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPiecesModal" onclick="loadPiezasTable()">Agregar Piezas</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="saveNewProducto()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Piezas de Producto -->
        <div class="modal fade" id="addPiecesModal" tabindex="-1" aria-labelledby="addPiecesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPiecesModalLabel">Piezas del Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="piezasList">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Costo</th>
                                    <th>Existencia</th>
                                    <th>Acción</th>  
                                </tr>
                            </thead>
                            <tbody id="piezasListRetorned">
                                <!-- Piezas disponibles irán aquí -->
                            </tbody>
                        </table>
                        <table class="table" id="selectedPiezasTable">
                            <thead>
                                <tr>
                                    <th>Pieza</th>
                                    <th>Nombre</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="selectedPiezasList">
                                <!-- Piezas seleccionadas para el producto irán aquí -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="savePiezas()">Guardar Piezas</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar el producto seleccionado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../JS/NavBar.js"></script> 
        <script>
                            const apiUrl = "http://localhost:8081/api/productos";
                            const apiUrlPiezas = "http://localhost:8081/api/piezas";
                            const token = localStorage.getItem('token');
                            console.log('Token:', token);
                            let selectedId = null;
                            let piezasData = [
                            ];

                            let productosData = [
                            ];

                            let selectedPiezas = [];
                            let currentProductoIndex = null;

                            async function loadTable() {
                                try {
                                    const response = await fetch(apiUrl, {
                                        headers: {
                                            'Authorization': `Bearer ${token}`,
                                            'Content-Type': 'application/json'
                                        }
                                    });

                                    if (!response.ok) {
                                        throw new Error(`HTTP error! Status: ${response.status}`);
                                    }

                                    const data = await response.json();

                                    const tableBody = document.getElementById('tableBody');
                                    tableBody.innerHTML = ''; // Limpiar la tabla antes de llenarla

                                    data.forEach((producto) => {
                                        const row = document.createElement('tr');
                                        row.onclick = () => selectRow(producto.clave, row);
                                        row.className = 'table-row';
                                        row.innerHTML = `
                    <th scope="row">${producto.clave}</th>
                    <td>${producto.descripcion}</td>
                    <td>${producto.precio}</td>
                    <td>${producto.cantidad}</td>
                <td>
                    ${
                                                producto.piezas.length > 0
                                                ? producto.piezas.map(pieza => `
                                <div>
                                    <strong>${pieza.clave}</strong> - ${pieza.nombre}<br>
                                    Existencia: ${pieza.existencia}, Costo: ${pieza.costo}
                                </div>
                            `).join('')
                                                : 'Sin piezas'
                                                }
                </td>
                `;
                                        tableBody.appendChild(row);
                                    });
                                } catch (error) {
                                    console.error("Error al cargar los datos:", error.message || error);
                                }
                            }
                            document.addEventListener('DOMContentLoaded', loadTable);

                            async function loadPiezasTable() {
                                try {
                                    const response = await fetch(apiUrlPiezas, {
                                        headers: {
                                            'Authorization': `Bearer ${token}`,
                                            'Content-Type': 'application/json'
                                        }
                                    });
                                    const data = await response.json();

                                    const tableBody = document.getElementById('piezasListRetorned');
                                    tableBody.innerHTML = '';

                                    data.forEach((pieza) => {
                                        const row = document.createElement('tr');
                                        row.onclick = () => selectRow(pieza.clave, row);
                                        row.className = 'table-row';
                                        row.innerHTML = `
                <th scope="row">${pieza.clave}</th>
                <td>${pieza.nombre}</td>
                <td>${pieza.costo}</td>
                <td>${pieza.existencia}</td>
 
                <td>
                         <button class="btn btn-success" onclick="addPieza('${pieza.clave}', '${pieza.nombre}')">Agregar</button>
                    </td>
            `;
                                        tableBody.appendChild(row);
                                        console.log(tableBody);
                                    });
                                } catch (error) {
                                    console.error("Error al cargar los datos:", error);
                                }
                            }

                            function loadSelectedPiezas() {
                                const tableBody = document.getElementById('selectedPiezasList');
                                tableBody.innerHTML = '';
                                selectedPiezas.forEach((pieza) => {
                                    const row = document.createElement('tr');
                                    row.innerHTML = `
            <td>${pieza.clave}</td>
            <td>${pieza.nombre}</td>
            <td>
                <button class="btn btn-danger" onclick="removePieza('${pieza.clave}')">Eliminar</button>
            </td>
        `;
                                    tableBody.appendChild(row);
                                });
                            }

                            function addPieza(clave, nombre) {
                                console.log("Pieza", selectedPiezas);
                                if (!selectedPiezas.some((p) => p.clave === clave)) {
                                    selectedPiezas.push({clave, nombre});
                                    console.log("Pieza 2", selectedPiezas);
                                    loadSelectedPiezas();
                                }
                            }

                            function removePieza(clave) {
                                selectedPiezas = selectedPiezas.filter((p) => p.clave !== clave);
                                loadSelectedPiezas();
                            }
                            function savePiezas() {
                                console.log('Piezas guardadas:', selectedPiezas);
                                $('#addPiecesModal').modal('hide');
                            }


                            async function saveNewProducto() {
                                const clave = parseInt(document.getElementById('addClave').value);
                                const descripcion = document.getElementById('addDescripcion').value;
                                const precio = parseFloat(document.getElementById('addPrecio').value);
                                const cantidad = parseInt(document.getElementById('addCantidad').value);

                                const newProducto = {
                                    clave: clave,
                                    descripcion: descripcion,
                                    precio: precio,
                                    cantidad: cantidad,
                                    piezasIds: selectedPiezas.map(pieza => pieza.clave)
                                };
                                console.log(newProducto);
                                try {
                                    const response = await fetch(apiUrl, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'Authorization': `Bearer ${token}`
                                        },
                                        body: JSON.stringify(newProducto)
                                    });

                                    let ver = JSON.stringify(newProducto);
                                    console.log(ver);

                                    if (!response.ok) {
                                        throw new Error(`Error al guardar: ${response.status}`);
                                    }

                                    loadTable();
                                    $('#addModal').modal('hide');
                                } catch (error) {
                                    console.error("Error al guardar el producto:", error.message || error);
                                }
                            }

                            function selectRow(clave, row) {
                                const rows = document.querySelectorAll('#productosTable tbody tr');

                                rows.forEach(r => r.classList.remove('table-active'));

                                row.classList.add('table-active');
                                selectedId = clave;
                                currentProductoIndex = productosData.findIndex(p => p.clave === clave);
                                const editBtn = document.getElementById('editBtn');
                                const deleteBtn = document.getElementById('deleteBtn');
                                const viewPiezasBtn = document.getElementById('viewPiezasBtn');

                                editBtn.disabled = false;
                                deleteBtn.disabled = false;
                                viewPiezasBtn.disabled = false;
                            }






                            function deleteRow() {
                                if (!selectedId) {
                                    alert("Selecciona una producto primero.");
                                    return;
                                }

                                $('#deleteConfirmModal').modal('show');
                            }

                            async function confirmDelete() {
                                if (!selectedId) {
                                    alert("No se ha seleccionado ninguna pieza.");
                                    return;
                                }

                                const token = localStorage.getItem('token');
                                if (!token) {
                                    console.error('No se encontró el token en el localStorage.');
                                    return;
                                }

                                try {
                                    // Realizar la solicitud DELETE con el token
                                    const response = await fetch(`${apiUrl}/${selectedId}`, {
                                        method: 'DELETE',
                                        headers: {
                                            'Authorization': `Bearer ${token}`,
                                            'Content-Type': 'application/json'
                                        }
                                    });

                                    if (response.ok) {
                                        alert("Pieza eliminada correctamente.");
                                        loadTable(); // Recargar la tabla después de eliminar
                                        $('#deleteConfirmModal').modal('hide'); // Cerrar el modal
                                    } else {
                                        console.error("Error al eliminar la pieza:", response.statusText);
                                    }
                                } catch (error) {
                                    console.error("Error al conectar con la API:", error);
                                }
                            }

                            function openEditModal() {
                                const producto = productosData[currentProductoIndex];
                                document.getElementById('addClave').value = producto.clave;
                                document.getElementById('addDescripcion').value = producto.descripcion;
                                document.getElementById('addPrecio').value = producto.precio;
                                document.getElementById('addCantidad').value = producto.cantidad;
                                $('#addModal').modal('show');
                            }

                            function viewPiezas() {
                                if (currentProductoIndex !== null) {
                                    selectedPiezas = productosData[currentProductoIndex].piezas.map(piezaId => piezasData.find(pieza => pieza.clave === piezaId));
                                    loadSelectedPiezas();
                                    $('#addPiecesModal').modal('show');
                                }
                            }

                            loadTable();

        </script>
    </body>
</html>
